<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta http-equiv="refresh" content="5">
<title>微信机器人</title>
<style>
body {
	padding: 10px;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei",
		"\9ED1\4F53", Arial, sans-serif;
	font-size: 14px;
}

code {
	color: #ff0000;
}

.text-box {
	padding: 20px;
	margin: 20px 0;
}

.text-box .status {
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	border-left-color: #1b809e;
	padding: 10px;
}

.system-name {
	color: #4DB3A2;
	font-size: 24px;
	margin-right: 24px;
	padding: 0 10px;
}
</style>
</head>
<body>
	<div class="system-name">微信机器人</div>
	<div class="text-box">
		<div class="status">
			<#if logined >
				<div>当前账号: ${owner.nickName}</div>
				<#list chatrooms as room>
					<div>群聊: ${room.nickName} - ${room.memberCount} 人 </div>
				</#list>
			<#else>
		  		${status}
		  	</#if>
		</div>
		<#if showQrCode>
		<div>
			<img src="/qrcode.jpg" >
		</div>
		</#if>
	</div>
</body>
</html>
